@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.faq--content__container {
    max-width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3fafa;

    .faq--title__container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            color: #17252A;
            font-size: 40px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-style: italic;
        }
    }

    .faq--form__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: auto;
        padding: 2%;
        margin-top: 1rem;
        border: 2px solid #b1d8de;
        background-color: #b1d8de;
        border-radius: 1%;
        font-family: 'Poppins', sans-serif;

        input {
            flex-direction: column;
            align-items: center;
            margin: 8px;
            width: 100%;
            height: 2rem;
            text-align: center;
            border: none;
            border-radius: 10px;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
        }
        
        button{
            padding: 2%;
            background-color: #82bac6;
            border: none;
            border-radius: 15px;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            text-align: center;
            margin-top: 1%;
            color: #17252A;
        }
        button:hover{
            background-color: #17252A;
            color: #f3fafa;
        }
    }
}